*.pyc
*.hold
.#*
*.gwl
tmp
*.LOG
.DS_Store

Experiment/worklist.py.OPTINPROGRESS

Experiment/worklist.py.good

*.gem

*.gemtxt

SELEX/HOLD

SELEX/*.txt


SELEX/.project

SELEX/.pydevproject

SELEX/multispike.m

SELEX/analyticTRP.m

SELEX/multiround.m

SELEX/NGSTRP.m

SELEX/analyticTRP2.m

SELEX/timecourse.m

SELEX/timecourse_auto.m

SELEX/analyticTRP1.m

SELEX/analyticTRP_2tp.m

SELEX/NGSTRP3.m

Analysis/getctold.m
